@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--Light-grayish-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: min(90%,600px);
    height: 300px;
    background-color: var(--Very-light-grayish-cyan);
}
.input-container{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.placeholder{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.container{
    display: flex;
    align-items: center;
    gap:10px;
}